<p>Outline System Test</p>

<app-parent></app-parent>
<app-child></app-child>

<div class="d-block my-3">

<div class="custom-control custom-radio">
  <input  type="radio" class="custom-control-input" value="male" name="gender" ngModel required>
  <label class="custom-control-label" for="radio">Radio Button1</label>
</div>
  
<div class="custom-control custom-radio">
  <input  type="radio" class="custom-control-input" value="female" name="gender" ngModel required>
  <label class="custom-control-label" for="radio1">Radio Buttion2</label>
</div>

</div>